<div class="experience container">
  <figure class="experience-thumb">
    <img srcset="
      ../img/webp/block_x1-01.webp 1x,
      ../img/webp/block_x2-01.webp 2x" 
      src="../img/webp/block_x1-01.webp" alt="Diving" class="experience-img" width="712" height="632">
    <figcaption class="experience-img-descr dm-sans-bold">Diving</figcaption>
  </figure>
  <figure class="experience-thumb">
    <img
      srcset="
      ../img/webp/block_x1-02.webp 1x,
      ../img/webp/block_x2-02.webp 2x" 
      src="../img/webp/block_x1-02.webp" alt="Fishing" class="experience-img" width="440" height="428">
    <figcaption class="experience-img-descr dm-sans-bold">Fishing</figcaption>
  </figure>
  <figure class="experience-thumb">
    <img
      srcset="
      ../img/webp/block_x1-03.webp 1x,
      ../img/webp/block_x2-03.webp 2x" 
      src="../img/webp/block_x1-03.webp" alt="Sunbathing" class="experience-img" width="436" heigth="352">
    <figcaption class="experience-img-descr dm-sans-bold">Sunbathing</figcaption>
  </figure>
</div>