<footer class="footer container">
  <div class="footer-wrap">
    <a href="./index.html" class="footer-logo" title="Product">
      <img src="./public/logo.svg" alt="Yacht Adventures Logo" class="logo" width="20" height="23">
      <span class="footer-logo-text dm-sans-bold">Yacht Adventures</span>
    </a>
    <nav class="footer-nav">
      <ul class="footer-nav-list dm-sans-bold">
        <li class="nav-list-item">
          <a href="./" target="_blank" class="nav-list-item-link" rel="nofoloow noopener noreferrer"
            title="About">About</a>
        </li>
        <li class="nav-list-item">
          <a href="./" target="_blank" class="nav-list-item-link" rel="nofoloow noopener noreferrer"
            title="Yachts">Yachts</a>
        </li>
        <li class="nav-list-item">
          <a href="./" target="_blank" class="nav-list-item-link" rel="nofoloow noopener noreferrer"
            title="Reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="footer-social-media">
      <p class="footer-social-media-title dm-sans-bold">We in social</p>
      <ul class="footer-social-media-list">
        <li class="footer-social-media-list-item">
          <a rel="stylesheet" href="./" class="footer-social-media-link" rel="nofollow noopener noreferrer">
            <svg class="social-media-icon" width="40" height="40">
              <use href="../img/webp/icons.svg#icon-facebook-white"></use>
            </svg>
          </a>
          </a>
        <li class="footer-social-media-list-item">
          <a rel="stylesheet" href="./" class="social-media-link" rel="nofollow noopener noreferrer">
            <svg class="social-media-icon" width="40" height="40">
              <use href="../img/webp/icons.svg#icon-instagram-white"></use>
            </svg>
          </a>
        <li class="footer-social-media-list-item">
          <a rel="stylesheet" href="./" class="footer-social-media-link" rel="nofollow noopener noreferrer">
            <svg class="social-media-icon" width="40" height="40">
              <use href="../img/webp/icons.svg#icon-youtube-white"></use>
            </svg>
          </a>
      </ul>
    </div>
  </div>
  <div class="footer-wrap dm-sans-regular">
    <p class="copyright">2023. Yacht Adventures</p>
    <a href="./" class="police">Privacy Police</a>
  </div>
</div>