<header class="header container">
  <div class="header-wrap">

    <a href="./index.html" class="header-logo" title="Product">
      <img src="./public/logo.svg" alt="Yacht Adventures Logo" class="logo">
      <span class="logo-text dm-sans-bold">Yacht Adventures</span>
    </a>

    <nav class="header-nav">
      <ul class="nav-list dm-sans-bold">
        <li class="nav-list-item">
          <a href="./" target="_blank" class="nav-list-item-link" title="About">About</a>
        </li>
        <li class="nav-list-item">
          <a href="./" target="_blank" class="nav-list-item-link" title="Yachts">Yachts</a>
        </li>
        <li class="nav-list-item">
          <a href="./" target="_blank" class="nav-list-item-link" title="Reviews">Reviews</a>
        </li>
      </ul>
      <button type="button" class="header-menu-btn js-open-menu" aria-expanded="false" aria-label="mobile menu">
        <svg width="24" height="24" class="header-icon-menu">
          <use href="../img/webp/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>

  </div>
</header>