<div class="hero container">

    <img class="hero-blur" src="../img/webp/ellipse.webp" alt="">
    <div class="hero-wrap-left">
      <ul class="hero-list">
        <li class="hero-list-item">
          <img srcset="
                ../img/webp/clients_x1-01.webp 1x,
                ../img/webp/clients_x2-01.webp 2x" src="../img/webp/clients_x1-01.webp" alt="Man">
        </li>
        <li class="hero-list-item">
          <img srcset="
                ../img/webp/clients_x1-02.webp 1x,
                ../img/webp/clients_x2-02.webp 2x" src="../img/webp/clients_x1-02.webp" alt="Woman">
        </li>
        <li class="hero-list-item">
          <img srcset="
              ../img/webp/clients_x1-03.webp 1x,
              ../img/webp/clients_x2-03.webp 2x" src="../img/webp/clients_x1-03.webp" alt="Man">
        </li>
      </ul>
      <p class="hero-list-descr dm-sans-bold">Our Clients</p>
      <img class="hero-pic" srcset="
            ../img/webp/man_x1.webp 1x,
            ../img/webp/man_x2.webp 2x" src="../img/webp/man_x1.webp" alt="Man on a yacht">
      <img srcset="
            ../img/webp/yaht_x1-00.webp 1x,
            ../img/webp/yaht_x2.webp 2x" src="../img/webp/yaht_x1-00.webp" alt="Yacht">
      <div class="hero-wrapper">
        <span class="hero-text-accent dm-sans-regular">$12M</span>
        <p class="hero-text dm-sans-regular">
          <span class="deco">Book now and make your</span>
          dream yacht rental a reality
        </p>
      </div>
    </div>
    <div class="hero-wrap-right">
      <div class="hero-wrapper-top">
        <h1 class="hero-title dm-sans-medium">
          <span class="deco">Explore the High Seas</span>
          <span class="deco">with
            <span class="hero-title-accent dm-sans-medium-italic">Our Luxury Yacht</span>
          </span> Rentals
        </h1>
        <p class="hero-descr dm-sans-regular">Experience the freedom and luxury of yachting on the open seas. Choose from
          our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and
          state-of-the-art amenities.
        </p>
      </div>
      <div class="hero-wrapper-bottom">
        <button type="button" class="hero-btn dm-sans-bold">Get Started</button>
        <button type="button" class="hero-btn dm-sans-bold">Explore</button>
      </div>
    </div>
</div>