<div class="mobile-menu js-menu-container">

  <div class="mobile-menu-wrapper">
    <div class="mobile-menu-wrap">
      <a href="./index.html" class="mobile-menu-logo-link" title="Product">
        <img src="./public/logo.svg" alt="Yacht Adventures Logo" class="mobile-menu-logo">
        <span class="mobile-menu-logo-text dm-sans-bold">Yacht Adventures</span>
      </a>
      <button type="button" class="mobile-menu-btn js-close-menu" aria-expanded="false" aria-label="mobile menu">
        <svg width="24" height="24" class="mobile-icon-menu">
          <use href="../img/webp/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
    </div>
  </div>

  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-list dm-sans-bold">
      <li class="mobile-menu-list-item">
        <a href="." target="_self" rel="nofollow noopener noreferrer" title="About">About</a>
      </li>
      <li class="mobile-menu-list-item">
        <a href="." target="_self" rel="nofollow noopener noreferrer" title="Yacht">Yacht</a>
      </li>
      <li class="mobile-menu-list-item">
        <a href="." target="_self" rel="nofollow noopener noreferrer" title="Reviews">Reviews</a>
      </li>
    </ul>
  </nav>
  
  <img class="promo-blur-1" src="../img/webp/ellipse.webp" alt="" width="2000">
  <img class="promo-blur-2" src="../img/webp/ellipse.webp" alt="" width="2000">

</div>