<div class="backdrop js-pop-up-container">
  <div class="pop-up container">
    <button type="button" class="pop-up-button js-close-pop-up" aria-expanded="false" aria-label="pop-up">
      <svg width="24" height="24" class="pop-up-icon-menu">
        <use href="../img/webp/icons.svg#icon-menu-close"></use>
      </svg>
    </button>
    <div class="pop-up-wrap">
      <img srcset="
          ../img/webp/yaht_x1.webp 1x,
          ../img/webp/yaht_x2-00.webp 2x"
          src="../img/webp/yaht_x1.webp" alt="Yacht" class="pop-up-img" width="338">
      <div class="pop-up-wrapper">
        <h2 class="pop-up-title dm-sans-medium ">Thank you</h2>
        <p class="pop-up-text dm-sans-regular">
          Thank you for choosing Yacht Adventures, your booking details have been received and our team
          will be in touch shortly to confirm your reservation and provide any additional information or assistance you may
          need.
        </p>
      </div>
    </div>
  </div>
</div>