<section class="promo container">
  <div class="promo-wrap">
    <div class="promo-subwrap">
      <p class="promo-text dm-sans-medium"><span class="promo-deco dm-sans-medium-italic">Yacht Adventures</span> fleet
        is here to
        take you on the ultimate adventure. Each yacht is
        hand-picked for its comfort, style, and performance.</p>
      <div class="promo-wrapper">
        <p class="promo-descr dm-sans-regular">From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the
          perfect blend of luxury and functionality. Take a look at our selection below and choose the yacht that
          matches
          your needs and preferences.</p>
        <p class="promo-descr dm-sans-regular">No matter which yacht you choose, our experienced crew will ensure that
          your journey is
          smooth and enjoyable. Book now and get ready for an unforgettable adventure on the high seas.</p>
      </div>
    </div>

  </div>
  <div class="promo-wrap">
    <div class="promo-thumb-1">
      <img srcset=" 
        ../img/webp/yaht_x1-01.webp 1x,
        ../img/webp/yaht_x2-01.webp 2x"
        src="../img/webp/yaht_x1-01.webp" alt="Yacht deck">
    </div>
    <div class="promo-thumb-2">
      <img srcset="
        ../img/webp/yaht_x1-03.webp 1x,
        ../img/webp/yaht_x2-03.webp 2x"
        src="../img/webp/yaht_x1-03.webp" alt="Yacht deck">
    </div>
    <div class="promo-thumb-3">
      <img srcset="
        ../img/webp/yaht_x1-02.webp 1x,
        ../img/webp/yaht_x2-02.webp 2x" 
        src="../img/webp/yaht_x2-02.webp" alt="Yacht in the sea">
    </div>
  </div>
  </div>
  <div class="promo-wrap">
    <img class="promo-blur" src="../img/webp/ellipse.webp" alt="">
    <p class="promo-title dm-sans-medium">Choose your dream yacht and sail away into the sunset</p>
    <button type="button" class="promo-btn dm-sans-bold">Yacht rental</button>
  </div>
</section>