<section class="rent-form container">
  <div class="rent-form-wrap">
    <div class="rent-form-wrapper">
      <h2 class="rent-form-title dm-sans-medium">Rent <span class="rent-form-deco"></span> a yacht now</h2>
      <div class="rent-form-thumb">
        <img srcset="
          ../img/webp/yaht_x1-04.webp 1x,
          ../img/webp/yaht_x2-04.webp 2x" 
          src="../img/webp/yaht_x1-04.webp" alt="Yacht" class="rent-form-img">
      </div>
    </div>
    <div class="rent-form-wrapper dm-sans-medium-italic" autocomplete="off">
      <form class="form" action="">
        <label for="name">
          <input type="name" name="name" placeholder="Full  Name">
        </label>
        <label for="email">
          <input type="email" name="email" placeholder="Email">
        </label>
        <label for="tel">
          <input type="tel" name="phone number" placeholder="Phone number">
        </label>
        <label for="comment">
          <textarea name="comment" placeholder="Comment"></textarea>
        </label>
        <button type="submit" class="rent-form-button">
          Send
          <svg width="18" height="8">
            <use href="../img/webp/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</section>