:root {
    --primary: #11131F;
    --secondary: #1F212D;
    --text: #F6F5EF;
    --background-one: #93ABAE;
    --background-two: #BEC7C2;
    --background-three: #A1B5BA;

    --font-family: 'DM Sans', sans-serif;
}

body {
    color: var(--text);
    background-color: var(--primary);
}


main {
    display: flex;
    flex-direction: column;
    gap: 164px;
    margin: 100px 0;
}

.dm-sans-regular,
.dm-sans-medium,
.dm-sans-bold,
.dm-sans-medium-italic {
    font-family: var(--font-family);
    font-optical-sizing: auto;
}