:root {
    --primary: #11131F;
    --secondary: #1F212D;
    --text: #F6F5EF;
    --background-one: #93ABAE;
    --background-two: #BEC7C2;
    --background-three: #A1B5BA;

    --font-family: 'DM Sans', sans-serif;
}

body {
    color: var(--text);
}
main {
    display: flex;
    flex-direction: column;
    margin: 164px 0;
    background-color: var(--primary);
}
header,
footer {
    background-color: var(--primary);
}
.dm-sans-regular,
.dm-sans-medium,
.dm-sans-bold,
.dm-sans-medium-italic {
    font-family: var(--font-family);
    font-optical-sizing: auto;
}
.dm-sans-regular {
    font-weight: 400;
}
.dm-sans-medium {
    font-weight: 500;
}
.dm-sans-bold {
    font-weight: 700;
}
.dm-sans-medium-italic {
    font-weight: 500;
    font-style: italic;
}