.container {
  min-width: 335px;
  max-width: 335px;
  margin: 0 auto;
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
    padding: 0 32px;
  }
}